.image-container {
    position: relative;
    display: flex; /* Ensures the images are sized by content */
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 16px;
    max-height: 100vh;
}

.image-container img {
    pointer-events: none;
    margin: 0px;
    display: block;
    width: 100%; /* Adjust to fit your layout */
    max-height: 100vh;
    /*max-height: calc(100vh - var(--sliderHeight));*/
}

.image-container img + img {
    position: absolute;
    top: 0;
    width: 100%; /* Match the base image */
    clip-path: inset(0 0 0 50%); /* Adjust the left value to control the cropped portion */
}

.image-container p {
    pointer-events: none;
    margin: 0px;
    padding: 0px 20px 10px 20px;
    position: absolute;
    bottom: var(--sliderHeight);
    left: 0px;
    width: calc(100% - 40px); /*Full horizontal width + padding*/
    clip-path: inset(0 50% 0 0);
    font-weight: bolder;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, -1px 0px 0 black, 1px 0px 0 black, 0px 1px 0 black, 0px -1px 0 black;
}

.image-container p + p {
    text-align: right;
    clip-path: inset(0 0 0 50%);
}

.image-slider {
    padding: 0px;
    border: 0px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: var(--sliderHeight);
    background: rgb(26, 27, 29);
    outline: none;
    -webkit-transition: .2s;
    transition: background .2s;
    margin: 0px;
    opacity: 1;

    position:absolute;
    bottom: 0px;
    left:0px;
}

.image-slider:hover {
    background: rgb(46, 47, 49);
}

.image-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--sliderHeight);
    height: var(--sliderHeight);
    background: rgba(224, 225, 239, 1);
    cursor: pointer;
}

.image-slider::-moz-range-thumb {
    width: var(--sliderHeight);
    height: var(--sliderHeight);
    background: rgba(224, 225, 239, 1);
    cursor: pointer;
}

.image-middleBar {
    position: absolute;
    top: 0px;
    left: 50%;
    width: var(--sliderHeight);
    height: calc(100% - var(--sliderHeight));
    
    opacity: 0.0;
    transition: opacity ease 0.3s;
    transform: translate(calc(var(--sliderHeight) / -2), 0.0);
}

.image-middleBar div {
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: inset(0px calc(var(--sliderHeight) / 2 - 1px) 0px calc(var(--sliderHeight) / 2 - 1px))
}

.image-middleBar:hover {
    /*cursor:col-resize;*/
    cursor:move;
}

.image-container:hover .image-middleBar {
    opacity: 1.0;
}

.image-container:hover .image-maximize {
    opacity: 1.0;
}

.image-maximize {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    width: 32px;
    opacity: 0.0;
    transition: transform ease 0.3s, opacity ease 0.3s;
    transform-origin: right top;
}

.image-maximize:hover {
    transform: scale(1.15);
    opacity: 1.0;
}

.image-maximize:focus {
    transform: scale(1.0);
    opacity: 0.8;
}

.image-maximize:hover:focus {
    transform: scale(1.15);
    opacity: 1.0;
}

#fullscreen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    background-color: rgb(62, 63, 74);
    z-index: 100;
    display: none; /*should be flex when visible*/
    justify-content: center;
    align-items: center;
}

.fullscreenInput {
    position: absolute;
    width: 32px;
    height: 64px;
    margin: 0px;
    z-index: 200;
    opacity: 0.8;
    transition: transform ease 0.3s, opacity ease 0.3s;
}

.fullscreenInput:hover {
    transform: scale(1.2);
    opacity:1.0;
}

.fullscreenInput:focus {
    transform: scale(1.0);
    opacity:0.8;
}

.fullscreenInput:hover:focus {
    transform: scale(1.2);
    opacity: 1.0;
}

#fullscreenRight {
    right: 0px;
    transform-origin: right center;
}

#fullscreenLeft {
    left: 0px;
    transform-origin: left center;
}