.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 4px 8px 4px 8px;
}

th {
    color: black;
    background-color: white;
    border-right-color: rgb(183, 183, 183);
    border-left-color: rgb(183, 183, 183);
}

table th:first-child {
    border-left-color: white;
}

table th:last-child {
    border-right-color: white;
}

td {
    text-align: right;
    background-color: var(--codeBackgroundColor)
}