/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/

:root {
    --pageWidth: 1300px;
    --bottomBarHeight: 40px;
    --indexWidth: 300px;
    --indexContentGap: 30px;
    --horizontalPagePadding: 20px;
    --sliderHeight: 20px;
    /*--contentBackgroundColor: rgb(62, 63, 74);*/
    --contentBackgroundColor: rgb(45, 46, 54);
    --pageBackgroundColor: rgb(26, 27, 29);
    --codeBackgroundColor: rgb(26, 27, 29);
}

html.loading body {
    visibility: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: trebuchet ms, Verdana, verdana ref, segoe ui, Candara, lucida grande, lucida sans unicode, lucida sans, Tahoma, sans-serif;
    background-color: var(--pageBackgroundColor);
    color: white;
    overflow-y: scroll;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(214, 214, 214);
    text-decoration: underline;
}

a:active {
    color: white;
}

.centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--horizontalPagePadding);
    padding-right: var(--horizontalPagePadding);
}

.limitWidth {
    max-width: var(--pageWidth);
}

